
	body{background-color: #61BA6C;}
	h1{text-align: center;}
	h3{color: orange; 
		text-align: center; 
		font-family: "Verdana";}
	p{font-family: "Times New Roman";
		text-align: center;
	  font-size: 20px;}
	#cust1{text-align: center; 
		   color: blue;}